extends ../layout/index
block contenido
    div
        h1.text-4xl.my-7.font-extrabold.text-center Prueba
            span.font-normal Node.js
        h2.text-center.text-2xl.font-extrabold= titulo
        if errors
            div(class="max-w-md m-auto")
                each err in errors
                    p(class="bg-red-600 p-2 text-white text-sm mt-2 uppercase font-bold")=err.msg

        div.mt-8.mx-auto.max-w-md
            div.bg-white.py-8.px-4.shadow

                form(class="space-y-2" method="POST" noValidate)
                    input(type="hidden" name="_csrf" value=csrfToken)
                    div
                        label(for="password").block.text-sm.uppercase.text-gray-500.mb-2.font-bold Coloca tu password
                        input(id="password")(placeholder="Coloca tu password" type="password" name="password").w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400.mb-2
                        input(class="w-full bg-amber-500 rounded-md h-10 text-white font-bold" type="submit" value="Guardar Password")