extends ../layout/index

block contenido
    div
        h1.text-4xl.my-7.font-extrabold.text-center Prueba
            span.font-normal Node.js
        h2.text-center.text-2xl.font-extrabold= titulo

        p(class="font-bold text-lg mt-2 text-center")=mensaje
        a(href="http://") 