extends ../layout/admin
block contenido
    div
        h1.text-4xl.my-7.font-extrabold.text-center Prueba
            span.font-normal Node.js
        h2.text-center.text-2xl.font-extrabold= titulo
        a(class="rounded-md py-2 px-7 my-6 bg-indigo-500 text-center uppercase inline-block w-full sm:w-auto text-white text-lg hover:bg-indigo-400 font-bold"
        href="/bienes-raices/propiedades/crear") Publicar Propiedad